main {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 58rem) {
  main {
    flex-direction: column;
  }
}
